<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.mithrilcoin.api.biz.mtp.mapper.MtpMapper">
	
<!-- 	public int insertMtp(MtpHistory mtphistory);

	public int insertMtpSource(MtpSource mtpSource);

	public int updateMtpSource(MtpSource mtpSource);

	public ArrayList<MtpHistory> selectMtpHistoryByMember(long memberIdx);

	public MtpTotal selectMtpTotalByMember(long memberIdx); -->
	
	<insert id="insertMtp" parameterType="io.mithril.vo.mtp.MtpHistory" useGeneratedKeys="true" keyProperty="idx">
		INSERT INTO MTPHISTORY
			(
				MEMBER_IDX
				,MTPSOURCE_IDX
				,PLAYDATA_IDX
				,AMOUNT
				,SEQUENCE
				,TYPECODE
				,SMELTENDDATE
				,EXPIREDATE
				,REGISTDATE	
			)
			VALUES
			(
				 #{member_idx}
				,#{mtpsource_idx}
				,#{playdata_idx}
				,#{amount}
				,1
				,#{typecode}
				,NULL
				,NULL
				,#{registdate}
			)
	</insert>
	<insert id="insertMtpSource" parameterType="io.mithril.vo.mtp.MtpSource" useGeneratedKeys="true" keyProperty="idx" >
		INSERT INTO MTPSOURCE
			(
				SOURCENAME
				,DESCRIPTION
				,TYPECODE
				,AMOUNT
				,USEYN
				,EXPIREDATE
				,REGISTDATE
				,MODIFYDATE
			)
			VALUES
			(
				 #{sourcename}
				,#{description}
				,#{typecode}
				,#{amount}
				,#{useyn}
				,NULL
				,#{registdate}
				,#{modifydate}
			)
	</insert>
	<update id="updateMtpSource" parameterType="io.mithril.vo.mtp.MtpSource">
		UPDATE SET MTPSOURCE
			MODIFYDATE = #{modifydate}
			<if test="sourcename != null and sourcename !=''">
				,SOURCENAME = #{sourcename}
			</if>
			<if test="description != null and description !=''">
				,DESCRIPTION = #{description}
			</if>
			<if test="typecode != null and typecode !=''">
				,TYPECODE = #{typecode}
			</if>
			<if test="amount != null and amount !=''">
				,AMOUNT = #{amount}
			</if>
			<if test="useyn != null and useyn !=''">
				,USEYN = #{useyn}
			</if>
			<if test="expiredate != null and expiredate !=''">
				,EXPIREDATE = #{expiredate}
			</if>
		WHERE
			IDX = #{idx}
	</update>
	<!--  paging 처리 필요  -->
	<select id="selectMtpHistoryByMember" parameterType="long" resultType="io.mithril.vo.mtp.MtpHistory">
		SELECT 
			*
		FROM 
			MTPHISTORY
		WHERE 
			MEMBER_IDX = #{memberidx}
	</select>
	<!--  쿼리 자체가 무겁다.. 풀스캔 .. 고쳐야 함 . -->
	<select id="selectMtpTotalByMember" parameterType="long" resultType="io.mithril.vo.mtp.MtpTotal">
		<!-- SELECT 
			SUM(AMOUNT)		
		FROM MTPHISTORY
		WHERE
			MEMBER_IDX = #{memberidx}
		AND TYPECODE = #{typecode} -->
		<![CDATA[
			SELECT 
				IFNULL(CASE WHEN TYPECODE = 'T002001' THEN SUM(AMOUNT) END,0)  AS incomeamount	
				,IFNULL(CASE WHEN TYPECODE = 'T002002' THEN SUM(AMOUNT) END, 0) AS spentamount
				,IFNULL(CASE WHEN EXPIREDATE != null AND EXPIREDATE > UTC_TIMESTAMP() THEN SUM(AMOUNT) END,0) AS expireamount
				,MEMBER_IDX
			FROM MTPHISTORY
			WHERE
				MEMBER_IDX = #{member_idx}
		]]>
		
	</select>
	<select id="selectMtpSource" parameterType="io.mithril.vo.mtp.MtpSource" resultType="io.mithril.vo.mtp.MtpSource">
		SELECT 
			*
		FROM MTPSOURCE
		WHERE
			TYPECODE = #{typecode}
	</select>
	
</mapper>