<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.mithrilcoin.api.biz.member.mapper.MemberMapper">

	<!-- member insert  -->
	<insert id="insertMember" parameterType="io.mithril.vo.member.Member" useGeneratedKeys="true"  keyProperty="idx">
		INSERT INTO MEMBER
		(
			EMAIL
			,PASSWORD
			,STATE
			,RATIO
			,REGISTDATE
			,MODIFYDATE
			,RECENTLOGINDATE
		)
		VALUES
		(
			#{email}
			,#{password}
			,#{state}
			,#{ratio}
			,#{registdate}
			,#{modifydate}
			,#{recentlogindate}
		)
	</insert>
	<!-- member UPDATE  -->
	<update id="updateMember" parameterType="io.mithril.vo.member.Member">
		UPDATE MEMBER
			SET	
				MODIFYDATE = #{modifydate}
			 <if test="password !=null and password !=''">
			 	, PASSWORD = #{password}
			 </if>
			 <if test="state !=null and state !=''">
			 	, STATE = #{state}
			 </if>
			 <if test="ratio !=null and ratio !=''">
			 	, RATIO = #{ratio}
			 </if>
			  <if test="authdate !=null and authdate !=''">
			 	, AUTHDATE = #{authdate}
			 </if>
			  <if test="recentlogindate !=null and recentlogindate != ''">
			 	, RECENTLOGINDATE = #{recentlogindate}
			 </if>
		WHERE
				IDX = #{idx}
				<if test="email != null and email !=''">
					AND	EMAIL = #{email}
				</if>
	</update>
	<!-- member 검색 email 필수 값 -->
	<select id="selectMember" parameterType="io.mithril.vo.member.Member" resultType="io.mithril.vo.member.Member">
		SELECT 
			IDX
			,EMAIL
			,PASSWORD
			,STATE
			,RATIO
			,REGISTDATE
			,AUTHDATE
			,MODIFYDATE
			,REGISTDATE
		FROM MEMBER
		WHERE
			1 =1 
			<if test="email != null and email !=''">
			AND	EMAIL = #{email}
			</if>
			<if test="idx gt 0">
			AND	IDX = #{idx}
			</if>
			<if test="state != null and state !=''">
			AND	STATE = #{STATE}
			</if>			
	</select>
	<!-- memberDETAIL insert  MEMBER_IDX 값 필수-->
	<insert id="insertMemberDetail" parameterType="io.mithril.vo.member.MemberDetail" useGeneratedKeys="true"  keyProperty="idx">
		INSERT INTO MEMBERDETAIL
			(
				 MEMBER_IDX
				,GENDER
				,BIRTHYEAR
				,BIRTHMONTH
				,COUNTRY
				,CITY
				,REGISTDATE
				,MODIFYDATE
			)
			VALUES
			(
				 #{member_idx}
				,#{gender}
				,#{birthyear}
				,#{birthmonth}
				,#{country}
				,#{city}
				,#{registdate}
				,#{modifydate}
			)
	</insert>
	<!-- memberDETAIL insert  MEMBER_IDX 값 필수-->
	<insert id="insertDevice" parameterType="io.mithril.vo.member.Device" useGeneratedKeys="true"  keyProperty="idx">
		INSERT INTO DEVICE
			(
				 MEMBER_IDX
				,DEVICEID
				,MODEL
				,BRAND
				,FCMID
				,OSVERSION
				,USEYN
				,REGISTDATE
			)
			VALUES
			(
				 #{member_idx}
				,#{deviceid}
				,#{model}
				,#{brand}
				,#{fcmid}
				,#{osversion}
				,#{useyn}
				,#{registdate}
			)
	</insert>
	<update id="updateNewDevice" parameterType="io.mithril.vo.member.Device">
		UPDATE DEVICE
			SET
				 USEYN = 'N'
			WHERE 
				 IDX != #{idx}
			 AND MEMBER_IDX = #{member_idx} 
	</update>
	<!-- <update id="updateDevice" parameterType="io.mithril.vo.member.Device">
		UPDATE DEVICE
			SET
				 USEYN = 'N'
			WHERE 
				 IDX != #{idx}
			 AND MEMBER_IDX = #{member_idx} 
	</update> -->
	<update id="updateActiveDevice" parameterType="io.mithril.vo.member.Device">
		UPDATE DEVICE
			SET
				 USEYN = 'Y'
				 <if test="fcmid != null and fcmid !=''">
				 , FCMID = #{fcmid}
				 </if>
				  <if test="osversion != null and osversion !=''">
				 , OSVERSION = #{osversion}
				 </if>
			WHERE 
				 IDX = #{idx}
			 AND MEMBER_IDX = #{member_idx} 
	</update>
	
	
	<insert id="insertAccount" parameterType="io.mithril.vo.member.Account" useGeneratedKeys="true"  keyProperty="idx">
		INSERT INTO ACCOUNT
			(
				MEMBER_IDX
				,ALIAS
				,PUBLICKEY
				,TYPECODE
				,REGISTDATE
			)
			VALUES
			(
				 #{member_idx}
				,#{alias}
				,#{publickey}
				,#{typecode}
				,#{registdate}
			)
	</insert>
	<update id="updateAccount" parameterType="io.mithril.vo.member.Account">
		UPDATE ACCOUNT
			SET
			   ALIAS = #{alias}
		WHERE
			MEMBER_IDX = #{member_idx}
	</update>
	<update id="updateMemberdetail" parameterType="io.mithril.vo.member.MemberDetail">
		UPDATE MEMBERDETAIL
			SET
				MODIFYDATE = #{modifydate}
				<if test="gender != null and gender !=''">
				,GENDER = #{gender}
				</if>
				<if test="birthyear != null and birthyear !=''">
				,BIRTHYEAR = #{birthyear}
				</if>
				<if test="birthmonth != null and birthmonth !=''">
				,BIRTHMONTH = #{birthmonth}
				</if>
				<if test="country != null and country !=''">
				,COUNTRY = #{country}
				</if>
				<if test="city != null and city !=''">
				,CITY = #{city}
				</if>
		WHERE
				MEMBER_IDX = #{member_idx}			
	</update>
	
	<select id="selectDevice" parameterType="io.mithril.vo.member.Device" resultType="io.mithril.vo.member.Device">
			SELECT 
				IDX
				,MEMBER_IDX
				,DEVICEID
				,MODEL
				,BRAND
				,FCMID
				,OSVERSION
				,USEYN
				,REGISTDATE
			FROM DEVICE
			WHERE
				MEMBER_IDX = #{member_idx}
			<if test="deviceid != null and deviceid !=''">
				AND DEVICEID = #{deviceid}
			</if>
			<if test="idx gt 0">
				AND IDX = #{idx}
			</if>
			<if test="brand != null and brand !=''">
				AND BRAND = #{brand}
			</if>
			<if test="model != null and model !=''">
				AND MODEL = #{model}
			</if>
			<if test="useyn != null and useyn !=''">
				AND USEYN = #{useyn}
			</if>
			ORDER BY REGISTDATE ASC
	</select>
	<select id="selectMemberDetail" parameterType="io.mithril.vo.member.MemberDetail" resultType="io.mithril.vo.member.MemberDetail">
			SELECT 
				IDX
				,MEMBER_IDX
				,GENDER
				,BIRTHYEAR
				,BIRTHMONTH
				,COUNTRY
				,CITY
				,REGISTDATE
				,MODIFYDATE
			FROM MEMBERDETAIL
			WHERE
				MEMBER_IDX = #{member_idx}
			<!-- <if test="gender != null and gender !=''">
				AND GENDER = #{gender}
			</if>
			<if test="idx gt 0">
				AND IDX = #{idx}
			</if>
			<if test="birthyear != null and birthyear !=''">
				AND BIRTHYEAR = #{birthyear}
			</if>
			<if test="birthmonth != null and birthmonth !=''">
				AND BIRTHMONTH = #{birthmonth}
			</if>
			<if test="country != null and country !=''">
				AND COUNTRY = #{country}
			</if>
			<if test="city != null and city !=''">
				AND CITY = #{city}
			</if>	 -->		
	</select>
	
	<select id="selectMemberTotalCount" resultType="Integer">
		SELECT COUNT(1) FROM MEMBER
	</select>
	
	<select id="selectMemberSubCount" resultType="Integer">
		<include refid="io.mithrilcoin.api.biz.common.mapper.PagingMapper.PRE_COUNT"></include>
			SELECT
				 mem.idx as	idx
				,mem.email as email
				,cm.cmname as state
				,det.gender as gender
				,det.birthyear as birthyear
				,det.birthmonth as birthmonth
				,det.country as country
				,det.city as city
				,from_unixtime(left(mem.authdate, 10)) as authdate
				,from_unixtime(left(mem.recentlogindate, 10)) as recentlogindate
				,from_unixtime(left(mem.registdate, 10)) as registdate
			FROM
				MEMBER mem 
				LEFT OUTER JOIN  MEMBERDETAIL det ON mem.idx = det.member_idx
				,COMMONCODE cm
			WHERE 
				cm.cmcode = mem.state
		<include refid="io.mithrilcoin.api.biz.common.mapper.PagingMapper.POST_COUNT"></include> 
	</select>
	
	
	
	<select id="selectMemberList" parameterType="io.mithril.vo.member.MemberListVo" resultType="io.mithril.vo.member.MemberListVo">
		<include refid="io.mithrilcoin.api.biz.common.mapper.PagingMapper.PRE_PAGE"></include>
			SELECT
				 mem.idx as	idx
				,mem.email as email
				,cm.cmname as state
				,det.gender as gender
				,det.birthyear as birthyear
				,det.birthmonth as birthmonth
				,det.country as country
				,det.city as city
				,from_unixtime(left(mem.authdate, 10)) as authdate
				,from_unixtime(left(mem.recentlogindate, 10)) as recentlogindate
				,from_unixtime(left(mem.registdate, 10)) as registdate
			FROM
				MEMBER mem 
				LEFT OUTER JOIN  MEMBERDETAIL det ON mem.idx = det.member_idx
				,COMMONCODE cm
			WHERE 
				cm.cmcode = mem.state
		<include refid="io.mithrilcoin.api.biz.common.mapper.PagingMapper.POST_PAGE"></include>
	</select> 
	
	
</mapper>