<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.mithrilcoin.api.biz.gamedata.mapper.GamedataMapper">
	<select id="selectMassPlaystoreappinfo" parameterType="int" resultType="io.mithril.vo.playdata.Playstoreappinfo">
		<![CDATA[
		  SELECT 
			IDX
			,PACKAGE AS PACKAGENAME
			,TITLE
		FROM PLAYSTOREAPPINFO
		WHERE IDX > #{startidx}
		LIMIT #{pagecount}, #{size}
		]]>
		
	</select>
	<select id="selectTodayPlayData" parameterType="long" resultType="io.mithril.vo.playdata.TemporalPlayData">
		<![CDATA[
		 SELECT 
			 IDX
			,MEMBER_IDX
			,PACKAGENAME
			,STATE
			,REWARD
			,TXNUMBER
			,TITLE
			,REGISTDATE AS playdate
		FROM PLAYDATA
		WHERE 
			MEMBER_IDX = #{member_idx}
			AND ( REGISTDATE >= UNIX_TIMESTAMP(CURDATE()) * 1000 AND REGISTDATE < UNIX_TIMESTAMP(DATE_ADD(CURDATE(), INTERVAL 1 DAY)) * 1000) 
			ORDER BY REWARD DESC
		]]> 
	</select>
	<insert id="insertPlayData" parameterType="io.mithril.vo.playdata.PlayData" useGeneratedKeys="true" keyProperty="idx">
		INSERT INTO PLAYDATA
			(
				 MEMBER_IDX
				,PACKAGENAME
				,TITLE
				,TYPECODE
				,PLAYTIME
				,STATE
				,MODIFY_MEMBER_ID
				,REGISTDATE
				,MODIFYDATE
			)
			VALUES
			(
				 #{member_idx}
				,#{packagename}
				,#{title}
				,#{typecode}
				,#{playtime}
				,#{state}
				,#{modify_member_id}
				,#{registdate}
				,#{modifydate}
			)
	</insert>
	<update id="updatePlaydata" parameterType="io.mithril.vo.playdata.PlayData">
		UPDATE PLAYDATA
			SET 
				MODIFYDATE = #{modifydate}
				<if test="state != null and state !=''">
				,STATE = #{state}
				</if>
				<if test="modify_member_id != null and modify_member_id !=''">
				,MODIFY_MEMBER_ID = #{modify_member_id}
				</if>
				<if test="reward != null and reward gt 0">
				,REWARD = #{reward}
				</if>
				<if test="mtp_idx != null and mtp_idx gt 0">
				,MTP_IDX = #{mtp_idx}
				</if>
				<if test="playtime != null and playtime gt 0">
				,PLAYTIME = #{playtime}
				</if>
				<if test="alttitle != null and alttitle !=''">
				,ALTTITLE = #{alttitle}
				</if>
		WHERE
			IDX = #{idx}
		AND	MEMBER_IDX = #{member_idx}
	</update>
	
	<select id="selectTotalPlaydataNopage" parameterType="long" resultType="io.mithril.vo.playdata.PlayData">
			<!-- SELECT
				 PACKAGENAME
				 ,REWARD
				 ,TITLE
				 ,ALTTITLE
				 ,STATE
				 ,PLAYTIME
				 ,REGISTDATE
				 ,MODIFYDATE
		 	FROM PLAYDATA
			WHERE 
				STATE = 'P001002'
			AND MEMBER_IDX = #{member_idx}
			ORDER BY REGISTDATE DESC -->
			SELECT 
					IFNULL(PLD.PACKAGENAME, MTS.SOURCENAME) AS PACKAGENAME
					,MTP.AMOUNT AS REWARD
					,PLD.ALTTITLE AS ALTTITLE
					,IFNULL(PLD.STATE,'P001002') AS STATE
					,IFNULL(PLD.PLAYTIME, '0') AS PLAYTIME
					,MTP.REGISTDATE AS REGISTDATE
					,IFNULL(PLD.MODIFYDATE, MTP.REGISTDATE) AS MODIFYDATE
			FROM  MTPHISTORY MTP
			LEFT OUTER JOIN  PLAYDATA PLD ON MTP.PLAYDATA_IDX = PLD.IDX
			, MTPSOURCE MTS
			WHERE MTP.MEMBER_IDX = #{member_idx}
				AND MTS.IDX = MTP.MTPSOURCE_IDX
				AND MTP.SEQUENCE = 1
	</select>
</mapper>